@use '../../styles/partials/index' as *;


.menu{
    position: absolute;
    margin-top: 3rem;
    padding:2rem 1rem 2rem 1rem;
    height: 100vh;
    width: 12rem;
    left:0;
    background-color: #FFF;
    visibility:hidden;
    @include tablet{
       visibility: visible;
    }
}
