// primary color 
$color__blue:#2664CF;
$color__gray:#FAF9F8;
$color__darkgray:#707070;

//secondary color
$color__lightblue:#A2B9E8;
$color__middlegray:#A19F9D;

// SUPPORTING COLORS
$color__green: #158463;
$color__red: #d56841;