// primary color 
$color__blue:#2664CF;
$color__gray:#FAF9F8;
$color__darkgray:#707070;

//secondary color
$color__lightblue:#A2B9E8;

// SUPPORTING COLORS
$color__Green: #158463;
$color__Red: #d56841;