@use '../../styles/partials/index' as *;



.menulist {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    margin-left: 1rem;

    &__item {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-bottom: 1rem;
        color:$color__darkgray;
    }
    &__icon-berger{
        height: 1.5rem;
        width: 1.5rem;
        padding: 0.25rem 0.75rem 1rem 0.25rem;

        color:$color__blue;

    }

    &__icon {
        height: 1.5rem;
        width: 1.5rem;
        padding: 0.25rem 0.75rem 0.25rem 0.25rem;

        color:$color__darkgray;
    }
    &__icon-img{
        width: 1.5rem;

        margin: 0.25rem 0.75rem 0.25rem 0.25rem;
    }
}