@use '../../styles/partials/index' as *;

.homepage{

    padding: 2rem 1rem 2rem 1rem;
    background-color: #FAF9F8;
    height: auto;
    @include tablet{
        padding: 2rem 5rem 2rem 5rem;
    }
    @include desktop{
        padding: 2rem 12rem 2rem 12rem;
    }



    &__titlebox{
        display: flex;
        flex-direction: row;
        align-items:center;
        padding-bottom: 0.75rem;
    }

}